---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Glenn Jacobson">
    <main>
        <section>
            <h1 class="display-1">About</h1>
            <p>Hi, I'm Glenn Jacobson. I've been a Frontend Developer doing agency work for a decade. Prior to that I've done freelance work, as well as creating websites for businesses I've worked at in other capacities.</p>
        </section>
        <section>
            <h2>What's my current role?</h2>
            <p>Right now I'm the <strong>Lead Frontend Developer</strong> at Online Solution Experts (OSE). We do a lot of ecommerce builds for medium to large businesses, mostly in Magento.</p>
            <p>This gives me a chance to mentor other developers, as well as push hard to optimise performance and SEO.</p>
            <p>My day might be a deep dive on why a page's performance is poor, planning presentations for the office to learn about some new piece of tech, explaining to devs why they should be using this style over that style, or building out a new page for a client.</p>
            <p>Pair me with a talented designer and we'll do beautiful things together.</p>
        </section>
        <section>
            <h2>What sets me apart?</h2>
            <p>I define my role as <strong>Front of the Frontend</strong>. This means a greater focus on the presentation of a website and its semantics. This has positive implications for SEO and User Experience.</p>
            <p>I also love my research. I'll get antsy if I'm not learning something new for awhile and will look into what's new in my field.</p>
        </section>
    </main>
</Layout>