---
import Layout from '../layouts/Layout.astro';

const images = [
        {
          name: 'pedders',
          label: "Pedders Suspension",
          sub: 'Magento B2C and B2B site.',
          path: '/images/peak-lg-op.jpg'
        },
        {
          name: 'peak',
          label: "Peak Marketing",
          sub: 'Magento e-commerce site.',
          path: '/images/peak-lg-op.jpg'
        },
        {
          name: 'teds',
          label: "Ted's Cameras",
          sub: 'Magento e-commerce site.',
          path: '/images/teds-bg-op.png'
        },
        {
          name: 'highgrove',
          label: "Highgrove Bathrooms",
          sub: 'Magento e-commerce site.',
          path: '/images/highgrove-bg-op.png'
        },
        {
          name: 'qtco',
          label: 'QTCo.',
          sub: 'VueJS/Laravel admin/client portal.',
          path: '/images/qtco-bg.png'
        },
        {
          name: 'louenhide',
          label: 'Louenhide',
          sub: 'WooCommerce e-commerce site.',
          path: '/images/lh-lg-op.jpg'
        },
        {
          name: 'tus',
          label: 'Total Uniform Solutions',
          sub: 'Magento multi-store e-commerce site.',
          path: '/images/tus-lg-op.jpg'
        },
        {
          name: 'campdraft-one',
          label: 'Campdraft One',
          sub: 'VueJS/Laravel Back-end management system.',
          path: '/images/cd-lg-op.jpg'
        },
        {
          name: 'campdraft',
          label: 'Australian Campdrafting Association',
          sub: 'WordPress Public-facing site.',
          path: '/images/cd4-lg-op.jpg'
        }
      ];
---

<Layout title="Work | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Work</h1>
		</section>
        <section class="case-listing">
            {images.map((image) => (
                <section class="item"
                        style={`background-image: url('${image.path}')`}
                >
                    <a class="item-link">
                        <div class="item-content">
                            <h2 class="item-title">{ image.label }</h2>
                            <div class="item-subtitle">{ image.sub }</div>
                        </div>
                    </a>
                </section>
            ))}
        </section>
	</main>
</Layout>

<style lang="scss">
    section{
        max-width: 1000px;
    }

    .case-listing {
        
        .item {
            display: block;
            height: 320px;
            opacity: 1;
            box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
            margin: 5rem auto;
            background-size: cover;

            @media (min-width: 768px) {
            width: 80%;
            height: 480px;
            }

            &:nth-child(odd) {
                margin-left: 0;
            }

            &:nth-child(even) {
                margin-right: 0;
            }

            .item-link {
                display: block;
                height: 100%;
                position: relative;
                background-position: top left;
                background-size: cover;
                background-repeat: no-repeat;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    display: block;
                    background: #000;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    z-index: 2;
                }

                &:hover::after {
                    opacity: 0.1;
                }
            }

            .item-transitioning {
                position: fixed;
            }
        }
    }
    .case-listing {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    
    .item-content {
      position: absolute;
      left: 6vw;
      right: 6vw;
      bottom: 20px;
      color: #000;
      z-index: 10;
      max-width: 650px;
      transform: scale(1) translateX(0);
      transition: transform 0.45s, opacity 0.25s;
      text-align: center;
      padding-block: 2rem;
      text-shadow: 0 0 16px hsla(0,0%,100%,.85), 2px 2px 12px hsla(0,0%,100%,.5), 2px 2px 22px rgba(255,221,179,.8), 2px 2px 30px rgba(255,231,201,.9), 0 0 10px hsla(0,0%,100%,.65);
      background: radial-gradient(ellipse at center,rgba(255,200,132,0.7) 0,rgba(255,200,132,.6) 50%,rgba(255,200,132,0.25) 60%,rgba(255,200,132,0) 75%,rgba(255,200,132,0) 100%);
    
      @media (min-width: 768px) {
        left: 90px;
        right: 90px;
      }
    }
    
    .item-title {
      margin-bottom: 0;
      font-family: var(--font-headings);
      font-weight: 400;
      font-size: 2.5rem;
      color: inherit;
      text-transform: lowercase;
      line-height: 1;
      margin-bottom: 0.5rem;
    
      @media (min-width: 768px) {
        font-size: 4.5rem;
      }
    }
    
    .item-subtitle {
      font-weight: 400;
      font-size: 2rem;
    }
</style>
    