<header>
    <h1 class="logo" title="Glenn Jacobson">GJ</h1>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>