---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Australian Campdrafting Association | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Australian Campdrafting Association</h1>
            <p>2018 | WordPress public-facing site with VueJS widgets.</p>
            <img src="/images/work/cd4-lg-op.jpg" alt="Event Page">
            <img src="/images/work/cd5-op.jpg" alt="Home Page">
            <img src="/images/work/cd6-op.jpg" alt="Mobile Title Page">
		</section>
	</main>
</Layout>

<style lang="scss">
    section {
        max-width: 1000px;

        img {
            box-shadow: 3px 3px 30px rgba(0,0,0,0.25)
        }
    }
</style>
