---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Campdraft One | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Campdraft One</h1>
            <p>2018 - 2020 | VueJS / Laravel Back-end management system.</p>
            <img src="/images/work/cd-lg-op.jpg" alt="Dashboard Page">
            <img src="/images/work/cd3-op.jpg" alt="User Page">
            <img src="/images/work/cd2-op.jpg" alt="Mobile Login Page">
		</section>
	</main>
</Layout>

<style lang="scss">
    section {
        max-width: 1000px;

        img {
            box-shadow: 3px 3px 30px rgba(0,0,0,0.25)
        }
    }
</style>
    