---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Highrove Bathrooms | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Highrove Bathrooms</h1>
            <p>2020 | Magento 2 multi-store e-commerce shop.</p>
            <img src="/images/work/highgrove-category.webp" alt="Category Page">
            <img src="/images/work/highgrove-product.webp" alt="Product Page">
            <img src="/images/work/highgrove-home.webp" alt="Home Page">
		</section>
	</main>
</Layout>

<style lang="scss">
    section {
        max-width: 1000px;

        img {
            box-shadow: 3px 3px 30px rgba(0,0,0,0.25)
        }
    }
</style>
    