---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Peak Marketing | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Peak Marketing</h1>
            <p>2022 | Magento 2</p>
            <img src="/images/work/peak-category.webp" alt="Category Page">
            <img src="/images/work/peak-product.webp" alt="Product Page">
            <img src="/images/work/peak-home.webp" alt="Home Page">
		</section>
	</main>
</Layout>

<style lang="scss">
    section {
        max-width: 1000px;

        img {
            box-shadow: 3px 3px 30px rgba(0,0,0,0.25)
        }
    }
</style>
    