---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Ted's Cameras | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Ted's Cameras</h1>
            <p>2021 | Magento 2 multi-store e-commerce shop.</p>
            <img src="/images/work/teds-category.webp" alt="Category Page" style="view-transition-name: image-teds";>
            <img src="/images/work/teds-product.webp" alt="Product Page">
            <img src="/images/work/teds-home.webp" alt="Home Page">
		</section>
	</main>
</Layout>

<style lang="scss">
    section {
        max-width: 1000px;

        img {
            box-shadow: 3px 3px 30px rgba(0,0,0,0.25)
        }
    }
</style>
    