---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Total Uniform Solutions | Glenn Jacobson">
	<main>
		<section>
			<h1 class="display-1">Total Uniform Solutions</h1>
            <p>2019 | Magento 2 multi-store B2B platform.</p>
            <img src="/images/work/tus-lg-op.jpg" alt="Login Page">
            <img src="/images/work/tus2-op.jpg" alt="Product Page">
            <img src="/images/work/tus3-op.jpg" alt="Mobile Category Page">
		</section>
	</main>
</Layout>

<style lang="scss">
    section {
        max-width: 1000px;

        img {
            box-shadow: 3px 3px 30px rgba(0,0,0,0.25)
        }
    }
</style>
    